body {
  background: #eee;
}

.search-bar {
  width: 50%;
  padding-bottom: 1.5em;
  padding-top: 10px;
}

.text-white {
  color: black;
}

#current-weather-btn, #saved-forecasts-btn {
  margin-bottom: 1.5em;
}

.btn-danger {
  margin-bottom: 40px;
}

.OAuth-title {
  padding-top: 30px;
}

.auth-icon {
  height: 75px;
  width: 75px;
  display: inline-block;
}