body {
  background: #eee;
}

.search-bar {
  width: 50%;
  padding-bottom: 1.5em;
  padding-top: 10px;
}

.text-white {
  color: black;
}

#current-weather-btn, #saved-forecasts-btn {
  margin-bottom: 1.5em;
}

.btn-danger {
  margin-bottom: 40px;
}
